<%- include('partials/head.ejs') %>

<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text">
      <h1>Selamat Datang di 8Box Games</h1>
      <h3>Silakan Masuk Sebagai</h3>
      <a class="btn btn-primary" href="/user" role="button">user</a>
      <a class="btn btn-primary" href="/dev" role="button">developer</a>
      <!-- <h1 class="display-3">Video Header</h1>
      <p class="lead mb-0">Using HTML5 Video and Bootstrap</p> -->
    </div>
  </div>
</div>



 
<%- include('partials/foot.ejs') %>