<%- include('partials/head.ejs') %>


    <div class="container my-3" style="width:60%;">
        <% if(error){ error.map(v=>{ %>
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                <%=v%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <%}) }%>

    </div>

    <div class="container my-3" style="width:40%;">

        <form action="/user/login" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Insert Email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Insert Password">
            </div>
            
            <div class="row">
                <button type="submit" class="btn btn-primary">Register</button>

                <div class="col-sm-8">
                    <span>Don't have an account?</span> <a href="/user/register">Register Here</a>
                </div>
            </div>

        </form>

    </div>



    <%- include('partials/foot.ejs') %>